{
    "presets": ["next/babel"],
    "plugins": [
      [
        "styled-components",
        {
          "ssr": true,
          "displayName": true,
          "preprocess": false
        }
      ],
      [
        "module-resolver",
        {
          "root": ["./src/"],
          "extensions": [".js", ".jsx", ".json", ".ts", ".tsx"],
          "alias": {
            "static": "./public/static"
          }
        }
      ]
    ]
  }