@import "styles/theme.scss";

// Обертка для одного товара в корзине
.one-item-cart {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 100%;
    @include media(height,185px,185px,230px);
    background-color: white;
    margin: 15px 0;
    padding: 15px;
    @include border-card;

    // Кнопки на карточке товара
    button {
        @include button-primary;
        
        // Кнопка удаления
        &.delete-item{
            width: 100%;
        }
    }
    // цена данного товара
    .price {
        @include price;
        font-weight: bold;
        font-size: 20px;
        @include media (margin-top,53px,53px,10px);
    }
    // Разные части одной карточки товара
    .middle-item-cart,
    .right-item-cart {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-content: center;
        height: 100%;
        width: 240px;

        // Описание товара
        .item-description {
            text-align: left;
            @include media(margin-top,55px,55px,25px);
            @include font-size-normal;
        }

        .counter { //Количество данного товара в корзине
            align-self: flex-end;
            margin-right: 30px;

            input {
                padding: 8px 10px;
                border: none;
                height: auto;
                @include media(width,20px,20px,55px);
                margin: 0px;
                text-align: center;
                @include font-size-normal;

                &:focus{
                    outline: none;
                }
            }
        }
    }
    // Середина карточки товара
    .middle-item-cart {
        flex-grow: 1;
        margin: 0 10px;
    }
}
// Обертка для изображения товара
.item-image-cart-wrapper {
    width: 150px;
    padding: 10px;
    align-self: center;
    img {
        max-width: 100%;
        max-height: 100%;
        margin: auto;
    }
}
