@import "styles/theme.scss";

$width-total-price: 200px;

.one-item-cart {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 665px;
    height: 185px;
    background-color: white;
    margin: 15px 0;
    padding: 15px;
    @include border-card;

    button {
        @include button-primary;
        
        &.delete-item{
            width: 175px;
        }
    }

    

    .price {
        font-weight: bold;
        font-size: 20px;
        margin-top: 53px;
    }

    .middle-item-cart,
    .right-item-cart {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-content: center;
        height: 100%;
        width: 200px;

        .item-description {
            text-align: left;
            font-size: 17px;
            margin-top: 55px;
        }

        .counter {
            align-self: flex-end;
            // display: flex;
            input {
                // width: 30px;
                // border-radius: 5px;
                padding: 8px 14px;
                border: none;
                height: auto;
                width: 16px;
                margin: 0px;
                text-align: center;

                &:focus{
                    outline: none;
                }
            }
        }
    }

    .middle-item-cart {
        flex-grow: 1;
        margin: 0 10px;
    }
}

.item-image-wrapper {
    width: 150px;
    padding: 10px;
    align-self: center;
    img {
        max-width: 100%;
        max-height: 100%;
        margin: auto;
    }
}
