@import "styles/theme.scss";

.navigate-wrapper {
    @include width-main;
    display: flex;
    justify-content: center;
    align-content: center;
    margin-bottom: 40px;
    background-color: white;
    @include media(height,55px,55px,150px);
    @include border-card;
    margin: 0px 15px;
    margin-bottom: 20px;
    @include media(margin-top,0,0,25px);

    div {        
        text-decoration: none;
        text-align: center;
        color: $text-primary-color;
        @include font-size-normal;
        @include media(width,50px,50px,150px);
        &:hover {
            background-color: rgb(255, 237, 230);
            color: $primary-color;
            cursor: pointer;
        }
    }

    .current-page {
        border-bottom: 5px solid $primary-color;
    }
}
