@import "styles/theme.scss";

// Обертка для отображения одного товара в каталоге
.one-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: white;
    margin: 15px;
    padding: 15px;
    @include border-card;
    @include media(width, 19.7%, 26.4%, 43.5%);
    @include media(height, 340px, 340px, 600px);

    // При наведении мыши на карточку кнопка меняет свой стиль
    &:hover {
        button {
            background-color: $primary-color;
            background-image: linear-gradient(to top, $primary-color, #ee4300);
            color: white;
        }
    }
    // Кнопка "в корзину"
    button {
        @include button-primary;
    }
    // Подвал карточки товара
    .item-footer {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }
    // Цена товара
    .price {
        @include price;
    }
    // Описание товара
    .item-description {
        text-align: left;
        @include media(font-size, 15px, 15px, 38px);
    }
}
// Обертка для изображения товара
.item-image-wrapper {
    padding: 10px;
    display: flex;
    align-content: center;
    @include media(height, 150px, 150px, 250px);
    // Изображение товара
    img {
        max-width: 100%;
        max-height: 100%;
        margin: auto;
    }
}
