@import "styles/theme.scss";

.one-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    width: 200px;
    height: 350px;
    background-color: $second-color;
}
