$primary-color: #ff4f00; //Главный цвет 
$second-color: #f5f5f5; //второстепенный цвет

$text-primary-color: #414141; //Главный цвет текста
$text-secondary-color: #777777; //Второстепенный цвет текста
$primary-font-family: "PT Sans", Helvetica, Arial, sans-serif; //Главный набор шрифтов

//Примесь позволяющая устанавливать разные значения одного атрибута для разной ширины монитора
//name - название атрибута
//$large, $middle, $small - значения для разной ширины монитора
@mixin media($name, $large, $middle, $small) {
    @media screen and (max-device-width: 768px) {
        #{$name}: $small;
    }
    @media screen and (min-device-width: 769px) and (max-device-width: 1200px) {
        #{$name}: $middle;
    }
    @media screen and (min-device-width: 1201px) {
        #{$name}: $large;
    }
}

//Ширина контента для всего приложения
@mixin width-main {
    @include media(width, 1200px, 900px, 100%);
}

//Раземеры шрифта обычного текста
@mixin font-size-normal{
    @include media(font-size,14px,14px,40px);
}

//Рамки и тени для карточек
@mixin border-card {
    border-radius: 10px;
    border: 1px solid #d0d0d0;
    box-shadow: 0.6px 1px 1px 1px rgba(0, 0, 0, 0.1);
}

//Главные стили для кнопок
@mixin button-primary {
    border: 1px solid $second-color;
    background-color: transparent;
    border-radius: 5px;
    padding: 8px 14px;
    border: 1px solid #d0d0d0;
    box-shadow: inset 0 -1px 0 0 rgba(0, 0, 0, 0.2);
    text-transform: uppercase;
    @include media(font-size, 13px, 13px, 30px);

    &:hover {
        background-image: linear-gradient(to bottom, $primary-color, #fc6018);
        cursor: pointer;
        color: white;
    }
    &:focus {
        outline: none;
    }
    @media screen and (max-device-width: 768px) {
        background-image: linear-gradient(to bottom, $primary-color, #e24800);
        color: white;
        border-radius: 15px;
        padding: 20px 32px;
    }
}

//Главные стили для кнопок, которые всегда должны быть в подсвеченном состоянии
@mixin button-primary-light {
    @include button-primary;
    background-image: linear-gradient(to bottom, $primary-color, #e24800);
    color: white;
}

//Стили для цен
@mixin price {
    @include media(font-size, 20px, 20px, 38px);
    font-weight: bold;
    margin: 16px 0;
}
