input:invalid {
    border: 2px solid red;

}

input:valid {
    border: 2px solid green;
}
input:required {
    &:before{
        content: "*";
        color: red;
    }
    border: 1px solid black;
}
input:optional{
    border: 0.5px solid black;
}
