@import "styles/theme.scss";

.one-category {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 150px;
    height: 150px;
    background-color: white;
    margin: 15px;
    padding: 30px 20px;
    @include border-card;
    text-decoration: none;
    color: $text-primary-color;
    font-weight: 500;
    &:hover{
         box-shadow: 1px 2px 2px 2px rgba(0, 0, 0, 0.2);
    }

    @media screen and (max-device-width: 768px) {
        flex-direction: row;
        justify-content: flex-start;
        align-items: flex-start;
        width: 100%;
        height: 50px;
        margin: 5px;
        padding: 30px 20px;
        @include border-card;
    }

    .description-category {
        @include media(font-size,14px,14px,40px);
        @include media( text-align,center,center,left);
    }

    .category-image-wrapper {
        height: 80px;
        display: flex;
        align-content: center;
        
        img {
            max-width: 100%;
            max-height: 100%;
            margin: auto;

            @media screen and (max-device-width: 768px) {
                display: none;
            }
        }
    }
}
