@import "styles/theme.scss";

.wrapper-checkout {
    display: flex;
    justify-content: space-between;
    width: 750px;
    @include media(width,750px,750px,100%);
    @include media(flex-direction,row,row,column);
    // @include media(margin-left,0,0,25px);
    margin-left: 15px;
    .checkout-info {
        display: flex;
        flex-direction: column;

        div {
            margin-top: 10px;
            @include font-size-normal;
        }

        .total-info {
            @include font-size-normal;
            font-weight: bold;
        }

        .checkout-items {
            display: flex;
            flex-direction: column;
            @include font-size-normal;
        }
    }
}
