@import "styles/theme.scss";

header{
    background-color: $primary-color;
    @include media(height,45px,45px,120px);
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 2;
    box-shadow: 0 1px 5px 4px rgba(#000000, 0.2);
}

.header-wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
    @include width-main;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
}

.button-to-main{
    text-decoration: none;
    margin-left: 15px;
    color: white;
    @include media(font-size,15px,15px,45px);
}