@import "styles/theme.scss";

.cart-in-header {
    a {
        display: flex;
        justify-content: flex-start;
        align-content: center;
        text-decoration: none;
        color: white;
        width: 140px;
        height: 30px;

        span {
            align-self: center;
        }
    }

    .icon-wrapper {
        display: flex;

        img {
            height: 25px;
            filter: invert(100%);
        }
        .total-count {
            background-color: white;
            z-index: 10;
            width: 22px;
            height: 22px;
            border-radius: 13px;
            text-align: center;
            color:$text-primary-color;
            font-weight: bold;
            align-self: center;
        }
    }
}
